<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <h1>Resume Parser</h1>
    <form action="{% url 'fileapp:uploads' %}" method="post" enctype="multipart/form-data">

        <p><input type="file" multiple name="UploadFiles"></p>
        {% csrf_token %}
        <p><button type="submit">Upload</button></p>

    </form>
    
</body>
</html>